@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    transition: all 0.5s linear;
    color: #fff;
    text-transform: capitalize;
}

body{
    background: #1A1110;
    font-family: "Outfit", sans-serif;

}

header{
    position: relative;
    padding: 2em 0;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.3)), url("./img/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}  

.logo{
    font-size: 2em;
    font-weight: 700;
    flex: 1;
    color: #fff;
    display: flex;
    align-items: center;
}
.logo img{
    width: 70px;
    margin-right: 1%;
}

.navbar{
    width: 100%;
    padding: 2rem 3rem;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    top: 0;
    position: fixed;
}
.navbar.scrolled {
  background-color: #000;
  box-shadow: rgba(0,0,0,0.35) 0 5px 15px;
}
.nav_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
}
.item{
    display: flex;
    justify-content: center;
}
.nav_items li{
    list-style: none;
    padding: 1em;
}

.nav_items li a{
    text-decoration: none;
    transition: 0.3s;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav_items li::before{
    content: '';
    width: 0;
    height: 2px;
    background: orangered;
    display: block ;
    margin: auto;
    transition: 0.5s;
}

.nav_items li:hover::before{
    width: 100%;
}

.btn{
    padding: 9px 15px;
    font-size: 18px;
    letter-spacing: 2px;
    cursor: pointer;
    background-color: orangered;
    border: 2px solid orangered;
    transition: al 0.5s ease-out;
}

.nav_menu{
    display: none;
}
/* Main Section */
.main{
  width: 80%;
  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  position: absolute;
  color: #fff;
}

.heading_1{
    font-size: 2.3em;
}
.heading{
    font-size: 3.5em;
    padding: 1.5% 0;
    font-family: "Great Vibes", cursive;
}
.Main_btn{
    display: flex;
    
}
.btn1:hover{
   background-color: transparent; 
}

.btn2{
    background-color: transparent;
    margin-left: 1%;
    align-items: center;
    display: flex;
    
}

.btn2 i{
    font-size: 2em;
    margin-right: 6px;
    color: orangered;
    
}

.btn2:hover{
    background-color: orangered;
}

.btn2:hover i{
    color: #fff;
}

/* services */
.sec{
    padding: 8% 0 3% 0;
    width: 85%;
    margin: auto;
}

.head{
    text-align: center;

}

.heading span{
    color: orangered;
    
}
.head .heading{
    font-family: 'lato', 'san-serif';
}

.head .heading_1{
  font-family: 'playwrite CU', cursive;
  color: aliceblue;
  font-size: 1.4em;
}

.boxes{
    margin-top: 4rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
}

.box{
    text-align: center;
    padding: 5% 0;
    box-shadow: rgba(0,0,0,1.35) 0 5px 15px;
    border: 2px solid transparent;
}

.box img{
    width: 150px;
}
.box p{
    max-width: 275px;
    margin-inline:  auto;
    text-align: center;
    line-height: 1.75;
    color: #888;
}

.box h4{
    margin: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.box:hover{
    border: 2px solid #fff;
    cursor: pointer;
    border-radius: 10px;
}
/* about us section */
.about_heading{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.6em;
    align-items: center;
}

.about .heading_1,
.about .heading{
    grid-column: 1;

    
}

.about .para{
    grid-column: 2;
    text-align: right;
    color: #777;
}

.about_box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin-top: 5%;
}

.para1{
   color: #888;
    padding-bottom: 5%;
}

.box1{
    background-color: #ffeedc;
    box-shadow: rgba(0, 0, 0, 0.2) 0 3px 8px;
    border: 5px solid transparent;
}

.box1 img{
    width: 100%;
}

.box1_text{
   padding: 4%; 
}

.box1_text button :hover{
    color: #000;
}

/* contact us */
.contact{
    margin-top: 6%;
    width: 100%;
    background-color: #312c2a;
}

.contact_box{
    display: grid;
    width: 85%;
    margin: auto;
    align-items: center;
    grid-gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.left_box .heading_1{
   color: orangered;
}
.right_box{
   text-align: right; 
}

.right_box img{
    width: 100%;
}

/* footer */
.footer_container{
    display: grid;
    gap: 4rem 2rem;
    grid-template-columns: repeat(4,1fr);
}

.footer_logo img{
    max-width: 40px;
}

.footer_logo span{
    display: flex;
    font-size: 1.8rem;
    font-weight: 800;
}

.footer_col .footer_text{
   max-width: 350px;
    color: #999;
    margin: 2rem 0;
}

.footer_socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style: none;
}

.footer_socials a{
   font-size: 1.8rem; 
   text-decoration: none;
   padding: 3%;
}

.footer_socials a:hover{
    background-color: orangered;
}

.footer_col h4{
    font-size: 1.8rem;
    margin-bottom:2rem;
    font-weight: 600;
}

.footer_links{
   display: grid; 
   gap: 1rem;
   list-style: none;
}

.footer_links a{
    text-decoration: none;
    color: #999;
}

.footer_links a:hover{
    color: orangered;
}

.footer_bar{
    padding: 1rem;
    font-size: bold;
    text-align: center;
}

/* scrolling up */
.top{
    background-color: orangered;
    font-size: 40px;
    padding: 0.5rem;
    position: fixed;
    border-radius: 10%;
    right: 5%;
    cursor: pointer;
    bottom: 8%;
}

.top:hover{
    transform: translateY(-.6rem);
}

.top.show{
    bottom: 8%;
}

@media only screen and (max-width:1050px){
    .about_heading{
        gap: 0 2em;
    }
    .about_box{
       gap: 1em; 
    }
    .box_text .btn{
        padding: 9px;
        font-size: 15px;
    }
    .left_box .heading{
     font-size: 2.5em;
    }
}


